{{input value=model.name 
	class="model-input test-model-name-input" 
	placeholder=placeholder
	enter='save'
	escape-press='cancel'}}
<div class="create-new-controls">
	<button {{action 'save'}} class="test-model-create-new submit">
		Save
	</button>
	<button {{action 'cancel'}} class="test-model-cancel-new cancel">
		Cancel
	</button>
</div>