{{input value=disaster.name 
	class="disaster-input test-disaster-name-input" 
	enter='createDisaster'
	escape-press='cancelDisaster'}}
<div class="disasts-new-controls">
	<button {{action 'createDisaster'}} class="test-disasters-create-new-submit submit">
		save
	</button>
	<button {{action 'cancelDisaster'}} class="test-disasters-cancel-new cancel">
		x
	</button>
</div>