{{input value=disaster.name class="disaster-input test-disaster-name-input" enter='createDisaster'}}
<button {{action 'createDisaster'}} class="disaster-submit test-disasters-create-new-submit"><span class="arrow">save</span></button>