<a href={{concat 'tel:' volunteer.phone}} class='test-volunteer-phone'>
    <div class='roster-row {{if volunteer.isCheckedIn 'checked-in'}} test-roster-row'>
        <div class="volunteer-name test-volunteer-member-name">{{volunteer.name}}</div>
        <div class="volunteer-time-checked-in test-volunteer-time-checked-in">{{if volunteer.isCheckedIn (moment-format volunteer.timeCheckedIn 'h:mm A') '-'}}</div>        
    </div>
</a>