<div class='roster-row test-roster-row'>
    <div class="volunteer-name test-volunteer-member-name">{{volunteer.name}}</div>
    <div class="volunteer-status test-volunteer-member-status">{{volunteer.status}}</div>
    <div class="volunteer-number test-volunteer-member-number">{{volunteer.memberNumber}}</div>
</div>