@import url('https://fonts.googleapis.com/css?family=Baloo|Lalezar|Lato|Montserrat:400,700');

// See https://github.com/HeroicEric/ember-normalize
@import "normalize";

// Bourbon + Neat + Bitters
@import "bower_components/bourbon/app/assets/stylesheets/_bourbon";
@import "core/_neat";
@import "base/_base";

html {
  height: 100%;
  background-color: rgb(246, 246, 246);
}


.container {
  @include grid-container;

  .page-header {
    background-color: white;
    padding: 8px 0;


    .logo {
      // @include grid-column(8);
      img {
        max-width: 55px;
        display: block;
        margin: 0 auto;
      }
    }

    .menu {
      // @include grid-column(3);
      display: none;
    }
  }

  h2 {
    text-align: center;
    font-size: 2.5em;
    cursor: pointer;
  }

  .work-area {
    height: 100%;
    text-align: center;

    li {
      font-size: 1.5em;
    }

    h3 {
      font-size: 2em;
    }

    .full-row {
      @include grid-column(12);

      .model-input {
        text-align: center;
      }
    }

    .site {
      cursor: pointer;
    }

    .site-location {
      font-size: 1em;
    }

    .disasters {
      background-color: #fff;
      box-shadow: 0 38px 43px rgba(0,0,0,.05);
      padding: 0 1.2em;
      margin-left: 30px;
      margin-right: 30px;
      margin-bottom: 65px;
      
      .disaster {
        padding: 12px 12px;
      }

      .create-new-disaster {
        @extend .disaster;
        font-size: 1.2em;
        padding-top: 6px
      }
    }
  }
}

.submit {
  background-color: $green;
}

.cancel {
  background-color: $red;
}

.checkin-input {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.checkin-input + label {
    display: inline-block;
    cursor: pointer; /* "hand" cursor */
}

.checkin-input:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.checkin-input + label * {
	pointer-events: none;
}


$small-font-size: 0.75em;
$badges: (
  "alert": #fff6bf,
  "default": #999,
  "error": #fbe3e4,
  "notice": #e5edf8,
  "success": #e6efc2,
) !default;

@each $badge-type, $color in $badges {
  .badge-#{$badge-type} {
    background-color: $color;
    border-radius: $small-font-size * 5;
    color: darken($color, 60%);
    display: inline-block;
    font-size: $small-font-size;
    line-height: 1;
    padding: 0.4em 1.2em;
  }
}


.disaster-map {
    min-height: 300px;
    margin: 0 0 $base-spacing;
}


.card {
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $card-border-color: $base-border-color;
  $card-border: 1px solid $card-border-color;
  $card-background: white !default;
  $card-header-background: $card-background;
  $card-margin: 1em;
  $card-map-hover-opacity: 0.7;
  $card-map-hover-color: #F8F2B4;

  background-color: $card-background;
  border: $card-border;
  // border-radius: $base-border-radius;

  // box-shadow: 0 10px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  box-shadow: 0 38px 43px rgba(0,0,0,.05);  
  cursor: pointer;
  flex-basis: 15em;
  max-width: 800px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 22px;

  .card-map {
    background-color: $card-map-hover-color;
    height: 200px;
    max-height: 200px;
    overflow: hidden;

    img {
      @include border-top-radius($base-border-radius);
      opacity: 1;
      transition: all 0.2s ease-in-out;
      width: 100%;
    }
  }

  .card-header {
    background-color: $card-header-background;
    border-bottom: $card-border;
    // border-radius: $base-border-radius $base-border-radius 0 0;
    font-weight: bold;
    line-height: 1.5em;
    padding: ($base-spacing / 3) ($base-spacing / 2);
    transition: all 0.2s ease-in-out;

    h4 {
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }

  .card-copy {
    font-size: 0.9em;
    line-height: 1.5em;
    padding: ($base-spacing / 2) ($base-spacing / 2);

    p {
      margin: 0 0 ($base-spacing / 2);
    }
  }

  &:focus,
  &:hover {
    cursor: pointer;

    img {
      opacity: $card-map-hover-opacity;
    }
  }

  &:active {
    background-color: $card-background;

    .card-header {
      background-color: $card-background;
    }
  }
}





header.navigation {
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $large-screen: 53.75em !default;
  $navigation-padding: 1em;
  $navigation-background: $dark-gray;
  $navigation-color: $base-font-color;
  $navigation-color-hover: white;
  $navigation-height: 60px;
  $navigation-nav-button-background: $action-color;
  $navigation-nav-button-background-hover: lighten($navigation-background, 10%);
  $navigation-nav-button-border: 1px solid lighten($navigation-nav-button-background, 20%);
  $navigation-search-background: lighten($navigation-background, 5);
  $navigation-search-border: 1px solid darken($navigation-background, 5);
  $navigation-active-link-color: transparentize(white, 0.5);
  $navigation-submenu-padding: 1em;
  $navigation-submenu-width: 12em;
  $horizontal-bar-mode: $large-screen;

  background-color: white;
  min-height: $navigation-height;
  width: 100%;
  z-index: 999;

  .navigation-wrapper {
    @include clearfix;
    position: relative;
    z-index: 9999;
  }

  .logo {
    float: left;
    max-height: $navigation-height;
    padding-left: $navigation-padding;
    padding-right: 2em;

    img {
      max-height: $navigation-height;
      padding: 0.8em 0;
    }
  }

  // Mobile view

  .navigation-menu-button {
    color: $navigation-color;
    display: block;
    float: right;
    line-height: $navigation-height;
    margin: 0;
    padding-right: 1em;
    text-decoration: none;
    text-transform: uppercase;

    // @include media ($horizontal-bar-mode) {
    //   display: none;
    // }

    &:focus,
    &:hover {
      color: $navigation-color-hover;
    }
  }

  // Nav menu

  nav {
    float: none;
    min-height: $navigation-height;
    z-index: 9999999;

    // @include media ($horizontal-bar-mode) {
    //   float: left;
    // }
  }

  ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999;

    &.show {
      display: block;
    }

    // @include media ($horizontal-bar-mode) {
    //   display: inline;
    //   margin: 0;
    //   padding: 0;
    // }
  }

  // The nav items

  ul li.nav-link {
    background: $navigation-background;
    display: block;
    line-height: $navigation-height;
    overflow: hidden;
    padding-right: 0.8em;
    text-align: right;
    width: 100%;
    z-index: 9999;

    // @include media ($horizontal-bar-mode) {
    //   background: transparent;
    //   display: inline;
    //   line-height: $navigation-height;
    //   text-decoration: none;
    //   width: auto;
    // }

    a {
      color: $navigation-color;
      display: inline-block;
      text-decoration: none;

      // @include media ($horizontal-bar-mode) {
      //   padding-right: 1em;
      // }

      &:focus,
      &:hover {
        color: $navigation-color-hover;
      }
    }
  }

  .active-nav-item a {
    border-bottom: 1px solid $navigation-active-link-color;
    padding-bottom: 3px;
  }

  // Sub menus

  li.more.nav-link {
    padding-right: 0;

    // @include media($horizontal-bar-mode) {
    //   padding-right: $navigation-submenu-padding;
    // }

    > ul > li:first-child a  {
      padding-top: 1em;
    }

    a {
      margin-right: $navigation-submenu-padding;
    }

    > a {
      padding-right: 0.6em;
    }

    > a::after {
      @include position(absolute, auto -0.4em auto auto);
      color: $navigation-color;
      content: "\25BE";
    }
  }

  li.more {
    overflow: visible;
    padding-right: 0;

    a {
      padding-right: 0.8em;
    }

    > a {
      padding-right: 1.6em;
      position: relative;

      // @include media($horizontal-bar-mode) {
      //   margin-right: $navigation-submenu-padding;
      // }

      &::after {
        content: "›";
        font-size: 1.2em;
        position: absolute;
        right: $navigation-submenu-padding / 2;
      }
    }

    &:focus > .submenu,
    &:hover > .submenu {
      display: block;
    }

    // @include media($horizontal-bar-mode) {
    //   padding-right: 0.8em;
    //   position: relative;
    // }
  }

  ul.submenu {
    display: none;
    padding-left: 0;

    // @include media($horizontal-bar-mode) {
    //   left: -$navigation-submenu-padding;
    //   position: absolute;
      //   top: 1.5em;
      // }

    .submenu.fly-out-right {
      // @include media($horizontal-bar-mode) {
      //   left: $navigation-submenu-width - 0.2em;
      //   top: 0;
      // }
    }

    .submenu.fly-out-left {
      // @include media($horizontal-bar-mode) {
      //   left: -$navigation-submenu-width + 0.2em;
      //   top: 0;
      // }
    }

    .submenu {
      // @include media($horizontal-bar-mode) {
      //   left: $navigation-submenu-width - 0.2em;
      //   top: 0;
      // }
    }

    li {
      display: block;
      padding-right: 0;

      // @include media($horizontal-bar-mode) {
      //   line-height: $navigation-height / 1.3;

      //   &:first-child > a {
      //     border-top-left-radius: $base-border-radius;
      //     border-top-right-radius: $base-border-radius;
      //   }

      //   &:last-child > a {
      //     border-bottom-left-radius: $base-border-radius;
      //     border-bottom-right-radius: $base-border-radius;
      //     padding-bottom: 0.7em;
      //   }
      // }

      a {
        background-color: darken($navigation-background, 3%);
        display: inline-block;
        text-align: right;
        width: 100%;

        // @include media($horizontal-bar-mode) {
        //   background-color: $navigation-background;
        //   padding-left: $navigation-submenu-padding;
        //   text-align: left;
        //   width: $navigation-submenu-width;
        // }
      }
    }
  }

  // Elements on the far right

  .navigation-tools {
    background: #505050;
    clear: both;
    display: block;
    height: $navigation-height;

    // @include media($horizontal-bar-mode) {
    //   background: transparent;
    //   clear: none;
    //   float: right;
    // }
  }

  // Search bar

  .search-bar {
    $search-bar-border-color: $base-border-color;
    $search-bar-border: 1px solid $search-bar-border-color;
    $search-bar-background: lighten($search-bar-border-color, 10%);

    float: left;
    padding: 0.85em 0.85em 0.7em 0.6em;
    width: 60%;

    form {
      position: relative;

      input[type=search] {
        background: $navigation-search-background;
        border: $navigation-search-border;
        border-radius: $base-border-radius * 2;
        box-sizing: border-box;
        color: $navigation-color;
        font-size: 0.9em;
        font-style: italic;
        margin: 0;
        padding: 0.5em 0.8em;
        width: 100%;

        // @include media($horizontal-bar-mode) {
        //   width: 100%;
        // }
      }

      button[type=submit] {
        background: $navigation-search-background;
        border: 0;
        bottom: 0.3em;
        left: auto;
        outline: none;
        padding: 0 9px;
        position: absolute;
        right: 0.3em;
        top: 0.3em;

        img {
          height: 12px;
          opacity: 0.7;
          padding: 1px;
        }
      }
    }

    // @include media($horizontal-bar-mode) {
    //   display: inline-block;
    //   position: relative;
    //   width: 16em;

    //   input {
    //     box-sizing: border-box;
    //     display: block;
    //   }
    // }
  }
}
