@import url('https://fonts.googleapis.com/css?family=Baloo|Lalezar|Lato|Montserrat:400,700');

// See https://github.com/HeroicEric/ember-normalize
@import "normalize";

// Bourbon + Neat + Bitters
@import "bower_components/bourbon/app/assets/stylesheets/_bourbon";
@import "core/_neat";
@import "base/_base";

html {
  height: 100%;
  background-color: rgb(246, 246, 246);
}


.container {
  @include grid-container;

  .page-header {
    @extend .full-row;

    background-color: white;
    padding: 8px 0;

    .logo img {
      // width: 100%;
      width: 55px;
      display: block;
      margin: 0 auto;
    }
  }

  h2 {
    text-align: center;
    font-size: 2.5em;
    cursor: pointer;
  }

  h4 {
    margin-bottom: 0px;
  }

  h6 {
    font-weight: inherit;
  }

  .work-area {
    height: 100%;
    text-align: center;

    ul {
      // padding-bottom: 15px;
    }

    li {
      font-size: 1.5em;
    }

    h3 {
      font-size: 2em;
    }

    .full-row {
      @include grid-column(12);

      .model-input {
        text-align: center;
      }
    }

    .roster-row {
      @extend .full-row;
      font-size: 0.9em;
      color: $dark-gray;

      .volunteer-name {
        @include grid-column(3);
      }
      .volunteer-time-checked-in {
        @include grid-column(3);        
      }
      .volunteer-call {
        @include grid-column(3);
      }
      .volunteer-check {
        @include grid-column(3);
      }
    }
    
    .checked-in {
      color: $green;
    }

    .checked-out {
      color: $blue;
    }

    .end-of-day {
      color: $medium-gray;
    }

    .site, 
    .logout-link,
    .login-link {
      cursor: pointer;
    }

    .disasters {
      background-color: #fff;
      box-shadow: 0 38px 43px rgba(0,0,0,.05);
      max-width: 650px;
      padding: 0 1.2em;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 65px;
      
      .disaster {
        padding: 12px 12px;
      }

      .create-new-disaster {
        @extend .disaster;
        font-size: 1.2em;
      }

      .login-link {
        font-size: 0.95em;
        padding-bottom: 14px;
      }
    }
  }
}

.submit {
  background-color: $green;
}

.cancel {
  background-color: $red;
}

.checkin-input {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.checkin-input + label {
    display: inline-block;
    cursor: pointer; /* "hand" cursor */
}

.checkin-input:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.checkin-input + label * {
	pointer-events: none;
}


.disaster-map, .volunteer-map {
    min-height: 300px;
    margin: 0 0 $base-spacing;
}


$site-list-quarters: (
  columns: 7,
  gutter: 2px,
);

$site-list-thirds: (
  columns: 3,
  gutter: 0px,
);

.site-row {
  @include grid-container;
}

.sites-list {
  @include grid-container($site-list-quarters);

  .site-name {
    @include grid-column(4, $site-list-quarters);
    text-align: left;
  }

  .site-status {
    @include grid-column(3, $site-list-quarters);
    @include grid-container($site-list-thirds);
    // float: right;

    div {
      @include grid-column(1, $site-list-thirds);
    }
  }

  .checkins {
    text-align: center;    
    i {
      color: $green;
    }
  }

  .checkouts {
    text-align: right;    
    i {
      color: $blue;
    }
  }

  .no-checkins {
    text-align: left;
    i {
      color: $red;
    }
  }
}


.card {
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $card-border-color: $base-border-color;
  $card-border: 1px solid $card-border-color;
  $card-background: white !default;
  $card-header-background: $card-background;
  $card-margin: 1em;
  $card-map-hover-opacity: 0.7;
  $card-map-hover-color: #F8F2B4;

  background-color: $card-background;
  border: $card-border;
  // border-radius: $base-border-radius;

  // box-shadow: 0 10px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  box-shadow: 0 38px 43px rgba(0,0,0,.05);  
  cursor: pointer;
  flex-basis: 15em;
  max-width: 650px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 22px;

  .card-map {
    background-color: $card-map-hover-color;
    height: 200px;
    max-height: 200px;
    overflow: hidden;

    img {
      @include border-top-radius($base-border-radius);
      opacity: 1;
      transition: all 0.2s ease-in-out;
      width: 100%;
    }
  }

  .card-header {
    background-color: $card-header-background;
    border-bottom: $card-border;
    font-weight: bold;
    line-height: 1.5em;
    padding: ($base-spacing / 3) ($base-spacing / 2);
    transition: all 0.2s ease-in-out;

    h4 {
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }

  .card-copy {
    font-size: 0.9em;
    line-height: 1.5em;
    padding: ($base-spacing / 2) ($base-spacing / 2);
    margin-left: 12px;
    margin-right: 12px;

    p {
      margin: 0 0 ($base-spacing / 2);
    }
  }

  &:focus,
  &:hover {
    cursor: pointer;

    img {
      opacity: $card-map-hover-opacity;
    }
  }

  &:active {
    background-color: $card-background;

    .card-header {
      background-color: $card-background;
    }
  }
}
