<ul class="test-disasters-list">
	{{#each model as |disaster|}}
		{{#link-to "disasters.disaster" disaster}}
		<li class='disaster card'>
			<div class="card-map">
				
			</div>
			<div class="card-header">
				 {{disaster.name}}
			</div>
		</li>
		{{/link-to}}
	{{/each}}
	{{link-to 'Create New' 'disasters.new' class='test-disaster-create-new'}}
</ul>
{{liquid-outlet}}