<h2>Disasters</h2>
<div class="disasters">
	<ul class="test-disasters-list">
		{{#each model as |disaster|}}
			{{#link-to "disasters.disaster" disaster}}
				<li class='disaster'>{{disaster.name}}</li>
			{{/link-to}}
		{{/each}}
		
		{{#if session.isAuthenticated}}
			{{#link-to 'disasters.new' class='test-disaster-create-new'}}
				<li class="create-new-disaster">Create new</li>
			{{/link-to}}
		{{else}}
			{{#link-to 'login'}}
				<li class='login-link'>Please login to add new disasters</li>
			{{/link-to}}
		{{/if}}
	</ul>
</div>

{{liquid-outlet}}