<h4 class="test-site-name">{{model.name}}</h4>
<h5 class="test-site-location site-location">{{model.location}}</h5>

{{link-to 'Check in' 'disasters.disaster.sites.site.checkin' model.disaster.id model.id class='test-site-checkin'}}

{{#if model.volunteers}}
    <hr>
    <div class="test-roster">
        <h6>Roster</h6>
        <ul class="test-volunteer-list">
        {{#each model.volunteers as |volunteer|}}
            <li>{{volunteer.memberNumber}}</li>
        {{/each}}
        </ul>
    </div>
{{/if}}