<h5 class="test-work-site-name">{{model.name}}</h5>
<h6 class="test-work-site-location">{{model.location}}</h6>

{{link-to 'Check in' 'disasters.edit.site.checkin' model.disaster.id class='test-worksite-checkin'}}
