<p class="test-new-site-header">Create new work site</p>
<div class="full-row">
	{{input value=model.name placeholder='Name' class='test-model-name-input model-input'}}
	{{input value=model.location placeholder='Location' class='test-worksite-location-input model-input'}}
</div>
<div class="full-row">
	<button {{action 'saveWorkSite' model}} class="test-worksite-save submit">Save</button>
</div>