<div class="container">
	<div class="wrapper">
		<div class="page-header">
			{{link-to 'Crosscheck' 'disasters' tagName='h2' class='test-disasters-header'}}
		</div>

		<div class="work-area">
			{{outlet}}
		</div>
	</div>
</div>