<div class="page-header">
	{{link-to 'Disasters' 'disasters' tagName='h2' class='test-disasters-header'}}
</div>

<div class="work-area">
	<ul class="test-disasters-list">
	{{#each model as |disaster|}}
		{{link-to
			disaster.name
			'disasters.edit'
			disaster
			tagName='li'
			class='disaster'}}
	{{/each}}
	</ul>

	{{outlet}}
</div>