<div class="page-header">
	<h2 class='test-disasters-header'>Disasters</h2>
</div>

<div class="work-area">
	<ul class="test-disasters-list">
	{{#each model as |disaster|}}
		{{!link-to disaster.name 'disasters.edit' disaster tagName='li'}}
		<li>{{disaster.name}}</li>
	{{/each}}
	</ul>

	{{outlet}}
</div>