<div class="work-area">
    <div class="full-row">
        {{link-to 'Check in' 'checkin' class='checkin-link'}}
    </div>
    <div class="full-row">    
        {{link-to 'Disasters' 'disasters' class='disasters-link'}}
    </div>
</div>