<h4>Log in</h4>
<div class="full-row">
    {{input value=email type="email" placeholder="Email" class="login-input"}}
    {{input value=password type="password" placeholder="Password" class="login-input"}}
</div>
<div class="full-row">
    {{async-button 
        default="Log in"
        pending="Logging in..." 
        action=(route-action "logIn")}}
</div>